<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InventoryApplication.Properties.Settings.DefaultConnectionString"
            connectionString="Data Source=.\InventoryApplicationDB.db;Version=3;" providerName="System.Data.Sqlite"/>
    </connectionStrings>
</configuration>